.footer{
  background: var(--background);
  color: var(--blue-primary);
  padding:36px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  border-top: 10px solid ;
}

.footerText {
  font-size: 14px;
}
