.header {
  border-bottom: 1px solid var(--color-border);
  background: var(--background);
  box-shadow: var(--shadow-sm);
}

.container {
  max-width: var(--container-width);
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--blue-primary);
  font-weight: 500;
}

.btn {
  background: var(--green-primary);
  padding: 10px 24px;
  border-radius: var(--radius);
  color: var(--white);
  text-decoration: none;
  transition: filter 0.2s;
  text-transform: uppercase;
}

.btn:hover {
  filter: brightness(1.1);
}
