.container {
  width: var(--container-width);
  display: flex;
  margin: 0 auto;
}

.subTitle {
  text-align: center;
  padding: 20px 0px;
  font-weight: bold;
  font-size: 40px;
}

.cardContainer{

}